---
name: Lint Check

on:
  - push
  - pull_request
permissions: {}

jobs:
  lint-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Lint check
        uses: arduino/arduino-lint-action@v2
        with:
          library-manager: update
          compliance: strict
