---
name: Spell Check

on:
  - push
  - pull_request
permissions: {}

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # See: https://github.com/codespell-project/actions-codespell/
      - name: Spell check
        uses: codespell-project/actions-codespell@master
        with:
          ignore_words_list: als
